@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ACRE's Website</h1>
    <p>This page is under construction.</a>.</p>
</div>
